---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
import GitHub from "../components/icons/GitHub.astro";
---


<Layout
  title="Alex Matias Software Engineer and Developer"
  description=""
>
  <main class="px-4">
	
	
    <SectionContainer class="py-16 md:py-36 ">
      <img
        class="rounded-full size-16 mb-4"
        src="https://avatars.githubusercontent.com/u/119390464?s=400&u=3c51f893ec75a5cac5a3ccaab99406df426ce907&v=4"
        alt="img"
      />
      <h1 class="text-5xl font-bold  text-gray-800 sm:text-5xl dark:text-white flex flex-row gap-x-4 pd-4">
        Hi, i'm Alex Matias <a
          href=""
          class="flex items-center transition md:justify-center md:hover:scale-105"
          rel="noopener"
        >
          {/*<Badge>Open to Work</Badge>*/}
        </a>
      </h1>
      <h2 class="text-2xl py-4 tracking-tight text-gray-800 sm:text-2xl dark:text-white">
        Software Engineer and a Real Estate Agent from Puerto Rico. 
        I focus in full stack development and Large Language Models (LLMs)
      </h2>
      <ul>
        <nav class="flex flex-wrap gap-4 mt-4">
          <SocialPill href="mailto:alexabner.matias@gmail.com">
            <Mail class="size-4" />
            Contact
          </SocialPill>
          <SocialPill href="https://www.linkedin.com/in/alex-abner-matias-71b945159/">
            <LinkedInIcon class="size-4" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/AlexAbner5">
            <GitHub class="size-4" />
            GitHub
          </SocialPill>
        </nav>
      </ul>
    </SectionContainer>
	
    <div class="space-y-24">

    <SectionContainer id="experience">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experience
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Code class="size-7" />
        Projects
      </h2>
      <Projects />
    </SectionContainer>

    </div>
  </main>
</Layout>
